<div id="articles">
<ul>
  {{#each articles}}
  <li>
    <h2><p>{{this.headline}}</p></h2>
    <p><span class="label">Sumamry:</span>{{this.summary}}</p>
    <button id="delarticle" data-planid="{{this._id}}" class="delarticle">Delete Article!</button>
    </p>
  </li>
  {{/each}}
</ul>
</div>


